In [1]:
import os
import sys
import pandas as pd
import time

In [2]:
import os
print(os.getcwd())

e:\data-engineering-projects\09_libs_poc

In [9]:
df = pd.read_csv(r'E:\data-engineering-projects\_datasets\ebola.csv', sep=',')

In [10]:
df.head()

,Date,Day,Cases_Guinea,Cases_Liberia,Cases_SierraLeone,Cases_Nigeria,Cases_Senegal,Cases_UnitedStates,Cases_Spain,Cases_Mali,Deaths_Guinea,Deaths_Liberia,Deaths_SierraLeone,Deaths_Nigeria,Deaths_Senegal,Deaths_UnitedStates,Deaths_Spain,Deaths_Mali
0,1/5/2015,289,2776.0,NaN,10030.0,NaN,NaN,NaN,NaN,NaN,1786.0,NaN,2977.0,NaN,NaN,NaN,NaN,NaN
1,1/4/2015,288,2775.0,NaN,9780.0,NaN,NaN,NaN,NaN,NaN,1781.0,NaN,2943.0,NaN,NaN,NaN,NaN,NaN
2,1/3/2015,287,2769.0,8166.0,9722.0,NaN,NaN,NaN,NaN,NaN,1767.0,3496.0,2915.0,NaN,NaN,NaN,NaN,NaN
3,1/2/2015,286,NaN,8157.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3496.0,NaN,NaN,NaN,NaN,NaN,NaN
4,12/31/2014,284,2730.0,8115.0,9633.0,NaN,NaN,NaN,NaN,NaN,1739.0,3471.0,2827.0,NaN,NaN,NaN,NaN,NaN

In [11]:
df.columns

Index(['Date', 'Day', 'Cases_Guinea', 'Cases_Liberia', 'Cases_SierraLeone',
       'Cases_Nigeria', 'Cases_Senegal', 'Cases_UnitedStates', 'Cases_Spain',
       'Cases_Mali', 'Deaths_Guinea', 'Deaths_Liberia', 'Deaths_SierraLeone',
       'Deaths_Nigeria', 'Deaths_Senegal', 'Deaths_UnitedStates',
       'Deaths_Spain', 'Deaths_Mali'],
      dtype='object')

In [13]:
df.size

2196

In [16]:

print(df.shape)

(122, 18)

In [17]:
df.count()

Date                   122
Day                    122
Cases_Guinea            93
Cases_Liberia           83
Cases_SierraLeone       87
Cases_Nigeria           38
Cases_Senegal           25
Cases_UnitedStates      18
Cases_Spain             16
Cases_Mali              12
Deaths_Guinea           92
Deaths_Liberia          81
Deaths_SierraLeone      87
Deaths_Nigeria          38
Deaths_Senegal          22
Deaths_UnitedStates     18
Deaths_Spain            16
Deaths_Mali             12
dtype: int64

In [18]:
df.dtypes

Date                    object
Day                      int64
Cases_Guinea           float64
Cases_Liberia          float64
Cases_SierraLeone      float64
Cases_Nigeria          float64
Cases_Senegal          float64
Cases_UnitedStates     float64
Cases_Spain            float64
Cases_Mali             float64
Deaths_Guinea          float64
Deaths_Liberia         float64
Deaths_SierraLeone     float64
Deaths_Nigeria         float64
Deaths_Senegal         float64
Deaths_UnitedStates    float64
Deaths_Spain           float64
Deaths_Mali            float64
dtype: object

In [19]:
linhas, colunas = df.shape
print(f'Tamanho: {linhas} linhas e {colunas} colunas')

Tamanho: 122 linhas e 18 colunas

In [20]:
# Função para remover duplicados
def remove_duplicados(df):
    df.drop_duplicates(inplace=True)
    return df

In [21]:
df = remove_duplicados(df)

In [22]:
linhas, colunas = df.shape
print(f'Tamanho: {linhas} linhas e {colunas} colunas')

Tamanho: 122 linhas e 18 colunas