In [1]:
!pip install dask

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: dask in c:\tools\anaconda3\lib\site-packages (2024.8.2)
Requirement already satisfied: click>=8.1 in c:\tools\anaconda3\lib\site-packages (from dask) (8.1.7)
Requirement already satisfied: cloudpickle>=3.0.0 in c:\tools\anaconda3\lib\site-packages (from dask) (3.0.0)
Requirement already satisfied: fsspec>=2021.09.0 in c:\tools\anaconda3\lib\site-packages (from dask) (2024.6.1)
Requirement already satisfied: packaging>=20.0 in c:\tools\anaconda3\lib\site-packages (from dask) (24.1)
Requirement already satisfied: partd>=1.4.0 in c:\tools\anaconda3\lib\site-packages (from dask) (1.4.1)
Requirement already satisfied: pyyaml>=5.3.1 in c:\tools\anaconda3\lib\site-packages (from dask) (6.0.1)
Requirement already satisfied: toolz>=0.10.0 in c:\tools\anaconda3\lib\site-packages (from dask) (0.12.0)
Requirement already satisfied: colorama in c:\tools\anaconda3\lib\site-packages (from click>=8.1->dask) (0.4.6)
Requirement already satisfied: locket in c:\tools\anaconda3\lib\site-packages (from partd>=1.4.0->dask) (1.0.0)

In [3]:
import dask.dataframe as dd
import pandas as pd

In [4]:
df = pd.read_csv('data_ex.csv')

In [5]:
print(df.head())

   edad  compra
0    22       0
1    25       0
2    47       1
3    52       0
4    46       1

In [6]:
df.head()

   edad  compra
0    22       0
1    25       0
2    47       1
3    52       0
4    46       1

In [15]:
results = df.groupby('edad').size()

In [16]:
results.head()

edad
18    2
19    1
21    1
22    1
23    1
dtype: int64