In [1]:
tipos_esperados = {
    "id": "int64",
    "nome": "object",   # Strings em pandas normalmente aparecem como 'object'
    "idade": "int64",
    "salario": "float64"
}

In [2]:
def validar_tipos(df, tipos_esperados):
    """
    Valida se os tipos das colunas do DataFrame correspondem aos tipos esperados.
    Retorna um dicionário com o status de cada coluna.
    """
    resultado = {}
    tipos_atuais = df.dtypes.apply(lambda x: x.name).to_dict()
    
    for coluna, tipo_esperado in tipos_esperados.items():
        tipo_atual = tipos_atuais.get(coluna)
        if tipo_atual is None:
            resultado[coluna] = "❌ Coluna não encontrada"
        elif tipo_atual != tipo_esperado:
            resultado[coluna] = f"❌ Tipo inválido (esperado: {tipo_esperado}, atual: {tipo_atual})"
        else:
            resultado[coluna] = "✅ Tipo correto"
    return resultado

In [3]:
import pandas as pd

# Exemplo de DataFrame
df = pd.DataFrame({
    "id": [19, 26, 37],
    "nome": ["Luciana", "Maria", "Paulo"],
    "idade": [22, 34, 29],
    "salario": [2000.0, 3500.5, 2700.0]
})

# Validação
resultado = validar_tipos(df, tipos_esperados)
for coluna, status in resultado.items():
    print(f"{coluna}: {status}")

id: ✅ Tipo correto
nome: ✅ Tipo correto
idade: ✅ Tipo correto
salario: ✅ Tipo correto

In [5]:
df.head()

   id     nome  idade  salario
0  19  Luciana     22   2000.0
1  26    Maria     34   3500.5
2  37    Paulo     29   2700.0

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   id       3 non-null      int64
 1   nome     3 non-null      object
 2   idade    3 non-null      int64
 3   salario  3 non-null      float64
dtypes: float64(1), int64(2), object(1)
memory usage: 228.0+ bytes

In [7]:
df.describe()

              id      idade      salario
count   3.000000   3.000000     3.000000
mean   27.333333  28.333333  2733.500000
std     9.073772   6.027714   750.810728
min    19.000000  22.000000  2000.000000
25%    22.500000  25.500000  2350.000000
50%    26.000000  29.000000  2700.000000
75%    31.500000  31.500000  3100.250000
max    37.000000  34.000000  3500.500000